<div class="content">  
<section>  
    <h1>Contact</h1>
    <p>If you have anything you'd like to tell me, </p>
    <p>please don't hesitate to use the form below. </p>
    <p>Thank you.</p>
    <%= form_for(@contact) do |f| %>
    <%= f.label :name, class: "textfield"  %><br>
    <%= f.text_field :name, class: "textfield" %><br>
    <%= f.label :mail_address, class: "textfield" %><br>
    <%= f.text_field :mail_address, class: "textfield" %><br>
    <%= f.label :inquiry, class: "textfield" %><br>
    <%= f.text_area :inquiry, class: "textarea" %><br>
    <%= f.submit "SEND" ,class: "button"%>
    <% end %>
</section>  
</div>  
