<!doctype html>  
    <html>  
        <head>  
            <meta charset="utf-8">  
            <meta http-equiv="Content-Type" content="text/html; charset=shift_jis"> 
            <title>ShuheiFujita.net</title>  
            <link href="./portfolio.css" rel="stylesheet">  
        </head>  
      
        <body>  
            <article>  
                <h1>  
                <div class="firstname">Shuhei</div>  
                <div class="lastname">Fujita</div>  
                <div class="domain">.net</div>  
                </h1>  
      
                <div class="main">  
                    <div class="index">  
                     <nav>  
                         <ul>  
                             <li><a href="#"><%= link_to 'Home', root_path %></a></li>  
                             <li><a href="#"><%= link_to 'About', about_path %></a></li>  
                             <li><a href="#"><%= link_to 'Blog', blog_path %></a></li>  
                             <li><a href="#"><%= link_to 'Contact', contacts_path %></a></li>  
                         </ul>  
                     </nav>  
                     </div>  
                      
                     <div class="content">  
                     <section>  
                         <h1>Welcome to ShuheiFujita.net</h1>  
                         <p>Now You are watching the "Contact" page.</p>
                         <%= form_for(@contact) do |f| %>
                            <div class="field">
                                <%= f.label :name%><br>
                                <%= f.text_field :name%>
                            </div>
                             <div class="field">
                                <%= f.label :mail_address%><br>
                                <%= f.text_field :mail_address%>
                            </div>
                              <div class="field">
                                <%= f.label :inquiry%><br>
                                <%= f.text_area :inquiry%>
                            </div>
                               <div class="actions">
                                <%= f.submit %>
                            </div>
                        <% end %>
                     </section>  
                     </div>  
                </div>  
            </article>  
        </body>  
    </html>  

